.nav_logo_and_basket {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.nav_basket {
  cursor: pointer;
  position: relative;
}
.basket_count {
  position: absolute;
  background-color: var(--color-C90000);
  opacity: 0.9;
  text-align: center;
  width: 24px;
  height: 24px;
  color: #fff;
  border-radius: 100%;
  z-index: 999;
}
.basket_count.active {
  display: block;
  top: 7%;
  left: 25%;
}
.nav_basket_icon {
  color: var(--color-7D7C7C);
  width: 4.5rem;
  height: 4.5rem;
}
