* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: poppins;
  src: url(../fonts/Poppins-Regular.woff) format("woff");
}
body {
  font-family: poppins;

  /* padding-bottom: 10rem; */
}
.Logincontainer {
  width: 100%;
  height: 1000px;
  background-color: #c90000;
}
.login_container {
  width: 500px;
  height: 550px;
  padding: 50px 35px 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.login {
  position: relative;
  margin-top: 1.5rem;
}
.login_logo {
  text-align: center;
}
.login_logo img {
  width: 100px;
}

.login svg {
  position: absolute;
  top: 25%;
  left: 5%;
  width: 30px;
  height: auto;
}
.login input {
  background-color: transparent;
  font-family: "poppins";
  font-size: 20px;
  font-weight: 300;
  width: 100%;
  height: 70px;
  color: #fff;
  padding: 0 4rem;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  border: 1px solid #fff;
  outline: none;
}
.login input::placeholder {
  color: #fff;
}
.login_container button {
  display: block;
  width: 100%;
  height: 60px;
  box-shadow: 0 1px 1px #000;
  font-family: "poppins";
  font-size: 1.5rem;
  border-radius: 10px;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.login_container p {
  font-size: 1.5rem;
  padding-top: 1.2rem;
  color: #fff;
  margin-top: 0.5rem;
  display: none;
  text-align: center;
}
.login_container p span {
  font-size: 0.8rem;
  display: block;
  padding-top: 1rem;
}
.message {
  font-size: 1.2rem;
  color: #fff;
  margin-top: 0.5rem;
  display: block;
  text-align: center;
}
.message a {
  font-size: 1.2rem;
  color: #ffe252;
  margin-top: 0.5rem;
  text-align: center;
  text-decoration: none;
}
.toggle-password {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 25%;
  right: 5%;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  font-size: 25px;
  cursor: pointer;
  color: #fff;
}
.toggle-password.active i.fa-eye {
  display: none;
}

.toggle-password.active i.fa-eye-slash {
  display: inline;
}

.toggle-password i.fa-eye-slash {
  display: none;
}
.change_lang {
  position: relative;
  background-color: #ffe252;
  width: 60px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
}
.lang {
  position: absolute;
  text-align: center;
  font-size: 0.9rem;
  top: 11%;
  padding: 0.1rem 0;
  left: 5%;
  border-radius: 7px;
  background-color: #c90000;
  color: #fff;
  width: 48%;
  transition: all 200ms ease-out;
}
