.nav_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  font-family: "poppins";
}
.nav_btn {
  display: block;
  font-size: 16px;
  font-weight: 400;
  font-family: "poppins";
  line-height: 24px;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  border-radius: 100px;
  width: 90px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid var(--color-C90000);
  color: var(--color-C90000);
}
.nav_btn:nth-child(2) {
  background-color: var(--color-C90000);
  color: #fff;
}
