.cart {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.total_price_shopping_list {
  color: #fff;
  font-size: 1.5rem;
  padding-top: 0.5rem;
}
.line {
  height: 1px;
  background-color: #fff;
}
.cart:last-child .line {
  margin-top: 1rem;
}
.shopping_list {
  background-color: #c90000;
  width: 500px;
  height: auto;
  position: absolute;
  border-radius: 10px;
  padding: 1rem;
  top: 10%;
  left: 23%;
  z-index: 1;
  display: none;
  transition: all 200ms ease-in;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
}
.shopping_list.active {
  display: block;
}
.total_item_shopping_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.total_item_shopping_list div:first-child {
  color: #fff;
  font-size: 1.5rem;
}
.close_shop_list {
  fill: #fff;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.view_items_shopping_list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
}
.view_item_shopping_list {
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr 0.5fr;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1rem;
  margin-left: 8px;
}
.View_item_count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: white;
  border: 1px groove rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.View_item_image {
  width: 100px;
  height: auto;
  background-color: #fff;
}
.View_item_image img {
  width: 100px;
}
.View_item_description {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 3px;
  color: #fff;
  margin-left: 1rem;
}
.View_item_description_title {
  font-size: 20px;
}
.View_item_description_Desc {
  font-size: 12px;
  height: 36px;
  overflow-y: auto;
}
.View_item_remove {
  font-size: 26px;
  cursor: pointer;
}
.View_item_remove svg {
  z-index: -1;
  position: relative;
  width: 48px;
  fill: #fff;
  /* margin-left: 1rem; */
}
.View_item_description_price {
  font-size: 16px;
}
.nav_logo_and_basket {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.nav_basket {
  cursor: pointer;
  position: relative;
}
.basket_count {
  position: absolute;
  background-color: var(--color-C90000);
  opacity: 0.9;
  text-align: center;
  width: 24px;
  height: 24px;
  color: #fff;
  border-radius: 100%;
  z-index: 1;
  top: 5%;
  left: 22%;
  display: none;
}
.nav_basket svg {
  width: 70%;
}
.nav_basket path {
  fill: var(--color-7D7C7C);
}

.blur {
  position: relative;
  transition: all 200ms ease;
}
.item_count {
  color: rgba(0, 0, 0, 0.8);
  margin: 3px 12px;
}
.count_btn {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin: 4px;
  width: 12px;
  height: 12px;
}
