.menu_item_selector {
  display: grid;
  grid-auto-columns: 160px;
  grid-auto-flow: column;
  overflow-x: auto;
  gap: 1.2rem;
  margin-top: 2rem;
}
.menu_item_selector_btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  font-size: 16px;
  color: var(--color-504F4F);
  background-color: var(--color-F1F1F1);
  border-radius: 100px;
  padding: 12px 16px;
  border: 1px solid var(--color-E3E3E3);
  transition: all 150ms ease;
}
.menu_item_selector_svg {
  z-index: 0;
}
.menu_item_selector button {
  cursor: pointer;
  z-index: 1;
}
.active {
  background-color: var(--color-FFC300);
  font-weight: 600;
  color: var(--color-323232);
  border: 1px solid var(--color-FFE252);
}
