.menu_foods_container {
  margin-top: 2rem;
  display: grid;
  justify-content: center;
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-columns: repeat(3, 370px); */
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem 1.5rem;
}
.discount_badge {
  width: 48px;
  position: absolute;
}
.menu_food_container {
  min-width: 370px;
  position: relative;
  border-radius: 12px;
  border: 1px solid var(--color-E3E3E3);
  padding: 1rem;
}
.menu_food_img_bg {
  position: absolute;
  z-index: -1;
  top: 80px;
  background-color: #fffde6;
  width: 100%;
  height: 105px;
  border-radius: 8px;
  border: none;
}
.menu_food_img {
  position: relative;
  text-align: center;
  width: 100%;
  height: 188px;
}
.menu_food_img > img {
  /* display: flex;
    margin: 0 auto; */
  max-width: 250px;
  max-height: 190px;
  object-fit: contain;
}
.menu_food_infos {
  margin-top: 1.8rem;
}
.menu_food_infos h5 {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-323232);
  margin-bottom: 0.3rem;
}
.menu_food_infos p {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-504F4F);
  margin-bottom: 0.3rem;
}
.menu_food_infos_score {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.menu_food_infos_score span {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-7D7C7C);
}
.menu_food_price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.8rem;
}
.menu_food_price_cost {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-323232);
}
.menu_food_price_order {
  border: none;
  background-color: var(--color-C90000);
  padding: 10px;
  border-radius: 8px;
}
