.menu_foods_container {
  margin-top: 2rem;
  display: grid;
  justify-content: center;
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-columns: repeat(3, 370px); */
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem 1.5rem;
}
